body {
    color: #03071e;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin: 30px 10px;
    text-align: center;
    color: #03071e;
}

p {
    margin: 10px;
    font-weight: 600px;
    line-height: 1.5;
    font-size: 25px;
}

a {
    color: #ff6f00;
    font-weight: bold;
}

li {
    font-weight: 600px;
    font-size: 20px;
}

/*--------Navbar---------*/

.list-items li {
    margin: 10px;
    font-weight: 600px;
    margin: 10px;
}

.list-items i{
    color: #004d40;
}

#brand-logo i {
    margin: 0;
    float: none;
}


/*-----Jumbotron-------*/

.card-image {
    width: 100%;
}

.container {
    width: 100%;
    }

/*-----Buttons-------*/

#all-btns {
    background-color: #004d40;
    font-weight: bold;
    width: 150px;
    height: 50px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
}

#top-btn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: #004d40;
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px; 
  opacity: 0.7;
}

#top-btn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

#register-btn {
    font-weight: bold;
    border-radius: 10px;
} 

/*-----Links-------*/

#index-links {
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin: 0; 
}

/*-----Images-------*/

#bird-image {
    padding: 0%;
}

#bird-text{
    margin: 15px;
    text-align: justify;
}