body {
    font-size: 20px;
    color: 03071e;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
p {
  line-height: 1.5;
  margin: 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.nav-extended, .sidenav, .dropdown-content {
     font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/*--------Navbar---------*/


.nav-extended {
    background-color: #065a60;
}

.card-image {
    width: 100%;
}

/*-----Jumbotron-------*/
.container {
    width: 100%;
}