body {
    color: #03071e;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin: 30px 10px;
    text-align: center;
}

p {
    margin: 10px;
    font-weight: 600px;
    line-height: 1.5;
    font-size: 25px;
}

li {
    font-weight: 600px;
    font-size: 20px;
}

.list-items li {
    margin: 10px;
    font-weight: 600px;
    margin: 10px;
}

.list-items i{
    color: #bf360c ;
}

.nav i {
    margin: 0;
    float: none;
}
/*--------Navbar---------*/



.card-image {
    width: 100%;
}

/*-----Jumbotron-------*/

.container {
    width: 100%;
    }
