{% extends 'base.html' %} 
{% block content %}

<h3>Edit Sighting</h3>

<!--chooce bird-->
  <div class="row">
    <form class="col s12" method="POST" action="{{ url_for('edit_sighting', sighting_id=sighting._id) }}">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">create</i>
                <select id="name" type="text" name="name" class="validate" required>
                    <option value="" disabled>Choose the Bird</option>

                {% for endangered_bird in endangered_birds %}
                {% if endangered_bird.name == sighting.name %}
                    <option value="{{ endangered_bird.name }}" selected>{{ endangered_bird.name }}</option>
                {% else %}
                    <option value="{{ endangered_bird.name }}">{{ endangered_bird.name }}</option>
                {% endif %}
                {% endfor %}
                </select>
                <label for="name">Bird Name</label>
            </div>
        </div>
<!--Location-->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">place</i>
                <select id="location" type="text" name="location" class="validate" required >
                    <option value="" disabled>Choose the Location</option> 
                {% for location in locations %}

                {% if location.city == sighting.location %}
                    <option value="{{ location.city }}" selected>{{ location.city }}</option>
                {% else %}
                    <option value="{{ location.city }}" selected>{{ location.city }}</option>
                {% endif %}
                {% endfor %}
                    
                </select>
                <label for="location"></label>
            </div>
        </div>
<!--Choose date-->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">event</i>
                <input id="date" name="date" type="text" class="datepicker validate" required
                    value="{{ sighting.date }}">
                <label for="date">Choose the Date</label>
            </div>
        </div>
<!--Comment-->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">comment</i>
                <textarea id="comment" name="comment" maxlength="150" class="materialize-textarea validate" required>
                {{- sighting.comment -}}</textarea>
                <label for="comment">Write Your Comment</label>
            </div>
        </div>

<!--Submit button-->
        <div class="row">
            <div class="col s12 center-align">
            <a href="{{ url_for('my_sightings') }}" class="btn-large">Cancel</a>
            <button type="submit" class="btn-large light">
            Edit
            </button>
            </div>
        </div>
    </form>
  </div>


{% endblock %}