{% extends 'base.html' %} 
{% block content %}

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Our Mission</h1>
        <div class="row center">
          <h5 class="header col s12">Birds population is rapidly descreaing worldwide. We need volunteers' help to provide the number of the birds sightings in different areas. </h5>
        </div>
        <div class="row center">
          <a href="{{ url_for('register')}}" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Register Today</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="static/images/DSC00215-02.jpeg" alt="Unsplashed background img 1" style="transform: translate3d(-50%, 259.085px, 0px); opacity: 1;"></div>
  </div>


    <div class="row">
        <div class="col l10 m10 s12">
                <p>Use the IUCN Red List of Endangered Species (IUCN) guidance to see which birds need your immediate attention:</p>
                    <ul>    
                        <li>Critically Endangered (CR-IUCN)</li>
                        <li>Endangered (EN-IUCN)</li>
                        <li>Extinct in the Wild (EW-IUCN)</li>
                        <li>Vulnerable (VU-IUCN)</li>
                        <li>Near Threatened (NT-IUCN)</li>
                    </ul>    
        </div>
    </div> 

    <div class="row">
{% for endangered_bird in endangered_birds %}
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="{{ endangered_bird.image }}">
                </div>
                <div class="card-content">                    
                    <span class="card-title text-shadow">{{ endangered_bird.name }}</span>
                    <p>{{ endangered_bird.short_description}}</p>
                </div>
                <div class="card-action">
                    <a href="{{ url_for('view_bird', bird_id=endangered_bird._id)}}">Learn More</a>
                </div>
            </div>
        </div>
{% endfor %}
    </div>


{% endblock %}