{% extends 'base.html' %} 
{% block content %}



    <h3 class="light-blue-text text-darken-4 center-align">My Sightings</h3>

{% for sighting in sightings%}

  <ul class="collapsible">
    <li>
    <div class="collapsible-header"><i class="material-icons">expand_more</i>
        <h6>{{ sighting.name }}: {{ sighting.location }}</h6>
    </div>
    <div class="collapsible-body">
        <ul>
            <li>{{ sighting.date }}</li>
            <li>{{ sighting.comment}}</li>
            <li>{{ sighting.created_by}}</li>
        </ul>
    </div>
    <div class="row">
        <div class="col s6 center-align">
            <a href="{{ url_for('edit_sighting', sighting_id=sighting._id) }}" class="btn-small">Edit</a>
        </div>
        <div class="col s6 center-align">
            <a href="{{ url_for('my_sightings') }}" class="btn-small">Delete</a>
        </div>
    </div>
    </li>
  </ul>

{% endfor %}

{% endblock %}